<ion-header>
  <ion-navbar color="green">
    <ion-title>
      Verinews
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="refresh()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background-color:#eee">
<ion-list>

  <ion-card>

  <ion-item>
    <ion-label>Balance {{ether}}</ion-label>
  </ion-item>

</ion-card>

  <ion-card>

    <ion-item>
    <ion-label color="primary" stacked>PublicKey</ion-label>
    <ion-input type="text" placeholder="" [(ngModel)]="publicKey"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" stacked>PrivateKey</ion-label>
    <ion-input type="text" placeholder="" [(ngModel)]="privateKey"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>News Stories</ion-label>
    <ion-textarea [(ngModel)]="story_data" name=""></ion-textarea>
  </ion-item>
  <div padding>
    <button ion-button color="light" (click)="news_ipfs_submit()">news+ipfs+ethereumjs-tx+submit</button>
  </div>
</ion-card>

<ion-card *ngFor="let item of feed">


  <ion-card-content>
    <div *ngIf="!item.votingOpened">
    <p style="color:red;" *ngIf="item.isFake">{{item.news}}</p>
    <p style="color:green;" *ngIf="!item.isFake">{{item.news}}</p>
    </div>
    <div *ngIf="item.votingOpened">
    <p>{{item.news}}</p>
    </div>

  </ion-card-content>
<div *ngIf="item.votingOpened">
  <ion-row *ngIf="!item.voted">
    <ion-col>
      <button ion-button icon-right clear small (click)="vote('up',item.address)">
        <ion-icon name="thumbs-up"></ion-icon>
      </button>
      <button ion-button icon-right clear small (click)="vote('down',item.address)">
        <ion-icon name="thumbs-down"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</div>
</ion-card>
  </ion-list>
</ion-content>
